
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

*{
    margin: auto;
}

body {
    background-image: url(./imagenes/musico-tocando.jpg);
    background-repeat:repeat;
    background-position: center;
    height:auto;
    background-attachment: fixed;
    background-size: cover;
}
.poster {
    padding-left: 40px;
    margin-bottom: 260px;
    border-radius: 10px;
    


}

.equipo {
       color: #e9ecef;

}
.logo {
     justify-content: center;
     
    
}

.navbar {
    padding: 2rem;
    background-color:transparent;
    
}

.nav-link {
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 20px;
    color: white;
    justify-content: center;
}
.dropdown-menu {
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border-color: transparent;
       
      }

.collapse-navbar-collapse {
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 20px;
    color: white;
}
.navbar-toggler {
    color:white;
    
    
}

.navbar-collapse {
    align-items: center;
    justify-content:space-between;
    
}

.nav-link.active {
    color: white;
    background-color: transparent;

}
.contacto {
      color:white;
      font-size: 20px;
      text-align: center; 
      text-decoration: none;  
<<<<<<< HEAD
=======
      margin: auto;
>>>>>>> 27b52aed5de83c5807ae464dd1409536361c6f57
}

.contacto:hover{
    color:orangered
}
.btn {
    background-color:orangered;
    color: white;
    border-color: transparent;
}
.btn:hover {
    background-color: black;
}
.d-block-w-100{
    font-family: Arial, "Helvetica", sans-serif;
    color: orangered;
<<<<<<< HEAD
}


.imgnormalizada img {
    width: auto;
    height: 500px;
    max-height: 500px;
    border-radius: 20px;
}
.carousel-inner {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
=======
}

.fender {

    background-image: url(./imagenes/musico-tocando.jpg);
    background-repeat:repeat;
    background-position: center; 
    height: 1200px;
    background-attachment: fixed;
    background-size:cover
}
.imgnormalizada img {
    width: auto;
    height: 500px;
    max-height: 500px;
    border-radius: 20px;
}
.carousel-inner {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
>>>>>>> 27b52aed5de83c5807ae464dd1409536361c6f57
.encabezados {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.article {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}
<<<<<<< HEAD

=======
>>>>>>> 27b52aed5de83c5807ae464dd1409536361c6f57

  
.article img {
    width: 100%;
    
  }
.feria img {
    height: auto;
  }

  
.article img {
    width: 100%;
    
  }
.feria img {
    height: auto;
  }

.articulos {
    background-color:transparent;
    opacity:50%;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}    



<<<<<<< HEAD
.copyright {
    font-family: Helvetica; color: white;margin-block: 20px; margin-left: 40px;
    font-size: 10pt;

}
=======

>>>>>>> 27b52aed5de83c5807ae464dd1409536361c6f57
.logo {
    margin-top: 40px;
    margin-left: 30px;
}
<<<<<<< HEAD
.logo-footer {
=======
/*.logo-footer {
>>>>>>> 27b52aed5de83c5807ae464dd1409536361c6f57
    margin-block: 10px; 
    margin-left: 40px; 

}

.redes-sociales {
    margin-block: 20px; 
    margin-left: 1100px; 
}*/

img {
    padding-left: 10px;
    padding-right: 10px;

}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #e9ecef;

}

.nav-link:hover {
    color:orangered;
}
<<<<<<< HEAD


  
=======
.logoFooter {
    margin-left: 20px;
    height: 10px 10px;
}    
.footer {
    color: white;
    background: linear-gradient(black , rgb(4, 4, 173));
    display: flex;
   align-items: flex-end;
   height: 300px;
}

.copyright {
    font-family: Helvetica; 
    color: white;
    font-size: 10pt;

}
.formulario {

        color:white;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center; 
      text-decoration: none;  
      margin: 4px 300px 100px 300px;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-family: cursive;
    
  }

 input, textarea {
   font-family: serif;
    background-color: rgb(228, 225, 225);
    width: 100%;
    padding: 5px;
    outline: none;
  }

 /* label {
    line-height: 1.9rem;
  }

  input[type="submit"] {
   transform: translate(2.2%);
   padding: 3px;
   margin-top: 0.6rem;
   font-family: cursive;
   font-weight: bold;
  }

 fieldset {
   padding: 20px 40px;
 }
>>>>>>> 27b52aed5de83c5807ae464dd1409536361c6f57